.toggle-turd {
	position: fixed;
	bottom: 1em;
	right: 1em;

	.icon-chevron-right {
		margin-left: -5px;
	}
}

// Turdcopy.js sidebar

#turd-sidebar {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;

	box-sizing: border-box;
	padding: 0 1em 0 2em;
	width: 30%;
	height: 100%;

	background: #f9f9f9;
	box-shadow: -1px 0 2px rgba(0,0,0,.25);
	border-left: 1px solid #ccc;
	-webkit-transform: translate(100%, 0);
	-webkit-transition: all 0.2s ease-out;

	&.open {
		-webkit-transform: translate(0, 0);
	}

	#multiple-blurb-ids{
		display: none;
	}

	input[type="text"] {
		box-sizing: border-box;

		height: 30px;
		width: 100%;
	}

	textarea {
		box-sizing: border-box;
		width: 100%;
		height: 300px;
		resize: vertical;

		font-size: 14px;
	}

	select {
		display: none;
	}

	.btn {
		margin-right: 0;
	}

	.toggle-turd {
		position: absolute;
		top: 0;
		left: 0;

		width: 1em;
		height: 100%;

		background: #f0f0f0;
		border: 0;

		&:hover {
			background: #f3f3f3;
		}
	}
}

// Turcopy.js Editable regions highlight

[data-blurb-id] {
	&:hover {
		background: #fff;
		border-radius: 0;
		border-color: transparent;
		color: #333;
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
		outline: thin solid rgba(82,168,236,0.8);
		text-shadow: none;
	}
}
